.general-container {
    min-height: 85vh;
align-items:center;}

.info-citt {
    margin-top: 2em;
    background: rgb(225, 228, 228);
    width: 90%;
    text-align: left;
    padding: 5px;
        -webkit-box-shadow: 10px 10px 29px -18px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 29px -18px rgba(0,0,0,0.75);
box-shadow: 10px 10px 29px -18px rgba(0,0,0,0.75);

}

.info-citt h2 {
    padding-left: 20px
}

.info-citt p {
    padding: 10px 30px 20px;
    word-break: break-all;
}

.item-img-citt {
    padding-left: 5px;
    padding: 10px 10px 0px;
    min-width: 200px;
    min-height: 200px;
    float: left;
    max-width: 500px;
    
}

@media screen and (min-width:600px) {
    .info-citt {
        min-height: 30vh;
    }

    .item-img-citt {
        width: 400px;
    }

    .info-citt h2 {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .info-citt p {
        font-size: 18px;
    }
}
@media screen and (min-width:1000px) {
    .info-citt {
        width: 60%;
    }

  .item-img-citt {
      
    }
    .info-citt h2 {
      
        font-size: 30px;
    }

    .info-citt p {
        padding: 20px 16px 15p;
        font-size: 23px;
    }
}
