.general-container {
    flex-wrap: wrap;
    align-items: flex-start;
 
  }
  
  .flip-card-container {
    width: 250px;
    height: 350px;
    perspective: 1000px;
    margin: 10px;
  }
  .flip-card-container:hover .flip-card {
    transform: rotateY(180deg);
  }
  
  .flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: inset 2px 0px 46px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 2px 0px 46px -21px rgba(0, 0, 0, 0.75);
    box-shadow: inset 2px 0px 46px -21px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 10px 23px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 10px 23px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 10px 23px 0px rgba(0, 0, 0, 0.75);
  }
  
  .flip-card-front {
    background-image: linear-gradient(-20deg, #4e4376 0%, #2b5876 100%);
    opacity: 0.95;
  }
  
  .flip-card-back {
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    opacity: 0.94;
    transform: rotateY(180deg);
  }
  
  .container-info {
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
  }
  .container-info:first-child{
      height: 35%;
  }
  .container-info:last-child{
      height: 65%;
  }
  .container-info img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container-info h2 {
    text-align: center;
    width: 88%;
    min-height:30%;
    margin-top: 10px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items:center;
    -webkit-box-shadow: inset 0px 44px 57px -58px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -4px 57px -58px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 44px 57px -58px rgba(0, 0, 0, 0.75);
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    word-wrap: break-word;
  
  }
  .container-info p{
      width: 100%;
      text-align: center;
      border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
      display: flex;
      justify-content: center;
      align-items: center;
      padding:5px;
  }
  
  .container-info p:last-child{
      border-bottom: none;
    
   }
  .flip-card-back h3 {
    font-size: 30px;
    text-align: center;
  }
  
  .flip-card-back .info-taller {
    padding: 30px;
    width: 100%;
  
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
  }
  .flip-card-back .info-taller:last-child {
    border-bottom: none;
  }
  .flip-card-back p {
    font-size: 20px;
    text-align: center;
  }
  @media screen and (min-width: 1000px) {
    .general-container {
      align-items: center;
    }
    .flip-card-container {
      width: 300px;
      height: 400px;
      margin: 50px;
    }
  
    .flip-card-front {
      font-size: 20px;
    }
  
    .container-info h2 {
        font-size: 23px;
      
    }
    .flip-card-back {
      font-size: 20px;
    }
  }
  