<link rel="stylesheet" href="/css/about.css">
<div class="general-container">
    <div class="info-citt">
        <div class="item-img-citt">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/tEDDZaaR6Vk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h2>¿Que es el citt?</h2>
        <p>La Escuela de Informática y Telecomunicaciones de DuocUC creó en 2010 su Centro de Innovación y Transferencia Tecnológica (CITT).

            El centro nació con el objetivo de generar espacios y dinámicas abiertas que enriquezcan a la comunidad y generen formas más estrechas y profundas de vinculación con la industria y la sociedad en general.</p>
    </div>
</div>