<div class="general-container">
    <div class="info-citt">
        <div class="item-img-citt">
            <img src="img/test-galery.jpg" alt="">
        </div>
        <h2>¿Que es el citt?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat sunt quia velit temporibus similique numquam voluptatum nisi commodi. Perferendis fugiat facere veniam, corporis atque fuga ad voluptas officia adipisci  asdasd asdasd  wqeq wcwq dqw dwqd d wqd wdq dwd wqd wqdwqdwq dwq dwq dwqdwd2142412 fasfasfsaf safaf  lore loasmodi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo mollitia earum omnis sit fugit dolorem! Odit debitis exercitationem, neque dolor quia dignissimos voluptates officia laudantium, doloribus fuga, laborum ut? Et. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quibusdam explicabo excepturi consequatur quae repudiandae illo cupiditate, asperiores molestiae tempora provident optio, modi ut dolor aspernatur quod hic cum. Delectus!.</p>
    </div>
</div>