<div class="general-container">
    <div class="event-container">
        <div class="info-event">
            <h2>Hackaton</h2>
            <span id="decorator-title"></span>
        </div>
        <div class="info-event">
            <a data-lightbox="item-img-1" class="img-event" href="img/test-galery.jpg"><iframe width="560" height="315" src="https://www.youtube.com/embed/YFAhuoDA5t4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></a>
        </div>
        <div class="info-event">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere sequi, accusamus eius veritatis deserunt perspiciatis ipsa tempore asperiores esse animi magnam possimus, incidunt perferendis deleniti repudiandae illum ex harum nam.xsaasdasdsa</p>
        </div>
    </div>
    <div class="event-container">
        <div class="info-event">
            <h2>Hackaton</h2>
            <span id="decorator-title"></span>
        </div>
        <div class="info-event">
            <a data-lightbox="item-img-2" class="img-event" href="img/test-galery.jpg">
                <img src="img/test-galery.jpg" alt="Aviones">
            </a>
        </div>
        <div class="info-event">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere sequi, accusamus eius veritatis deserunt perspiciatis ipsa tempore asperiores esse animi magnam possimus, incidunt perferendis deleniti repudiandae illum ex harum nam.xsaasdasdsa</p>
        </div>
    </div>
    <div class="event-container">
        <div class="info-event">
            <h2>Hackaton</h2>
            <span id="decorator-title"></span>
        </div>
        <div class="info-event">
            <a data-lightbox="item-img-3" class="img-event" href="img/test-galery.jpg">
                <img src="img/test-galery.jpg" alt="Aviones">
            </a>
        </div>
        <div class="info-event">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere sequi, accusamus eius veritatis deserunt perspiciatis ipsa tempore asperiores esse animi magnam possimus, incidunt perferendis deleniti repudiandae illum ex harum nam.xsaasdasdsa</p>
        </div>
    </div>
</div>