<div class="general-container">
    <div class="galery-container">
        <div class="galery-separator">
            <h2>Hackaton 2030</h2>
        </div>
        <a class="item-img" href="img/test-galery.jpg" data-lightbox="mygallery-hackaton"><img src="img/test-galery.jpg" alt="Aviones" /></a>
        <a class="item-img" href="img/test-galery-2.jpg" data-lightbox="mygallery-hackaton"><img src="img/test-galery-2.jpg" alt="Aviones" /></a>
        <a class="item-img" href="img/test-galery.jpg" data-lightbox="mygallery-hackaton"><img src="img/test-galery.jpg" alt="Aviones" /></a>
        <a class="item-img" href="img/test-galery-2.jpg" data-lightbox="mygallery-hackaton"><img src="img/test-galery-2.jpg" alt="Aviones" /></a>
    </div>
    <div class="galery-container">
        <div class="galery-separator">
            <h2>Notakcah 2031</h2>
        </div>
        <a class="item-img" href="img/test-galery.jpg" data-lightbox="mygallery-notakcah"><img src="img/test-galery.jpg" alt="Aviones" /></a>
        <a class="item-img" href="img/test-galery-2.jpg" data-lightbox="mygallery-notakcah"><img src="img/test-galery-2.jpg" alt="Aviones" /></a>
    </div>
</div>