<div class="general-container" id="general-container">
</div>

<!-- <div class="general-container">
    <div class="flip-card-container">
        <div class="flip-card">
        <div class="flip-card-front">
            <div class="container-info">
                <img src="img/default-taller.jpg" alt="Imagen mano sobre teclado" />
            </div>
            <div class="container-info">
                <h2>Taller de programacion de videjuegos</h2>
                <p>Sala 201</p>
                <p>Miercoles</p>
                <p>15:30 - 16:30</p>
            </div>
        </div>
        <div class="flip-card-back">
            <h3 class="info-taller">Descripcion:</h3>
            <p class="info-taller">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum modi provident quibusdam ab, aliquid ratione necessitatibus officia voluptates delenit  </p>
        </div>
        </div>
    </div>
    <div class="flip-card-container">
        <div class="flip-card">
            <div class="flip-card-front">
                <div class="container-info">
                <img src="img/default-taller.jpg" alt="Imagen mano sobre teclado" />
                </div>
                <div class="container-info">
                    <h2>Taller de programacion de videjuegos</h2>
                    <p>Sala 201</p>
                    <p>Miercoles</p>
                    <p>15:30 - 16:30</p>
                </div>
            </div>
            <div class="flip-card-back">
                <h3 class="info-taller">Descripcion:</h3>
                <p class="info-taller">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum modi provident quibusdam ab, aliquid ratione necessitatibus officia voluptates delenit  </p>
            </div>
        </div>
    </div>
    <div class="flip-card-container">
        <div class="flip-card">
            <div class="flip-card-front">
                <div class="container-info">
                <img src="img/default-taller.jpg" alt="Imagen mano sobre teclado" />
                </div>
                <div class="container-info">
                    <h2>Taller de programacion de videjuegos</h2>
                    <p>Sala 201</p>
                    <p>Miercoles</p>
                    <p>15:30 - 16:30</p>
                </div>
            </div>
            <div class="flip-card-back">
                <h3 class="info-taller">Descripcion:</h3>
                <p class="info-taller">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum modi provident quibusdam ab, aliquid ratione necessitatibus officia voluptates delenit  </p>
            </div>
        </div>
    </div>
    <div class="flip-card-container">
        <div class="flip-card">
            <div class="flip-card-front">
                <div class="container-info">
                <img src="img/default-taller.jpg" alt="Imagen mano sobre teclado" />
                </div>
                <div class="container-info">
                    <h2>Taller de programacion de videjuegos</h2>
                    <p>Sala 201</p>
                    <p>Miercoles</p>
                    <p>15:30 - 16:30</p>
                </div>
            </div>
            <div class="flip-card-back">
                <h3 class="info-taller">Descripcion:</h3>
                <p class="info-taller">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum modi provident quibusdam ab, aliquid ratione necessitatibus officia voluptates delenit  </p>
            </div>
        </div>
    </div>
</div> -->