<h1 class="TituloEquipo">Director de Carrera</h1>
<div class="Director">
    <div class="Capitan">
        <img src="/img/Equipo/Director.jpg" alt="Director Nelson alvarez" class="CapitanFoto">
        <h3>Nelson Alvarez</h3>
    </div>
</div>
<h1 class="TituloEquipo">Coordinador CITT</h1>
<div class="Coordinador">
    <div class="Capitan">
        <img src="/img/Equipo/Coordinador.png" alt="Coordinador Jean Paul Fuentes" class="CapitanFoto">
        <h3>Jean Paul Fuentes</h3>
    </div>
</div>
<div class="Capitanes">
    <h1 class="TituloEquipo">Capitanes CITT viejos</h1>
    <div class="Viejos">
        <div class="Capitan">
            <img src="/img/Equipo/CapitanIgnacio.jpg" alt="Capitan Ignacio" class="CapitanFoto">
            <h3>Ignacio</h3>
        </div>
        <div class="Capitan">
            <img src="/img/Equipo/CapitanAndres.jpg" alt="Capitan Andres" class="CapitanFoto">
            <h3>Andres</h3>
        </div>
        <div class="Capitan">
            <img src="/img/Equipo/CapitanDaniela.jpg" alt="Capitan Daniela" class="CapitanFoto">
            <h3>Daniela</h3>
        </div>
        <div class="Capitan">
            <img src="/img/Equipo/CapitanJonathan.jpg" alt="Capitan Jonathan" class="CapitanFoto">
            <h3>Jonathan</h3>
        </div>
        <div class="Capitan">
            <img src="/img/Equipo/CapitanJorge.jpg" alt="Capitan Jorge" class="CapitanFoto">
            <h3>Jorge</h3>
        </div>
        <div class="Capitan">
            <img src="/img/Equipo/CapitanFrancisco.jpg" alt="Capitan Francisco" class="CapitanFoto">
            <h3>Francisco</h3>
        </div>
        <div class="Capitan">
            <img src="/img/Equipo/CapitanClaudia.jpg" alt="Capitan Claudia" class="CapitanFoto">
            <h3>Claudia</h3>
        </div>
    </div>
    <h1 class="TituloEquipo">Capitanes CITT nuevos</h1>
    <div class="Nuevos">
        <div class="Capitan">
            <img src="/img/Equipo/CapitanMax.jpg" alt="Capitan Max" class="CapitanFoto">
            <h3>Max</h3>
        </div>
        <div class="Capitan">
            <img src="/img/Equipo/CapitanScarlet.jpg" alt="Capitan Scarlet" class="CapitanFoto">
            <h3>Scarlet</h3>
        </div>
        <div class="Capitan">
            <img src="/img/Equipo/CapitanSamuel.jpg" alt="Capitan Samuel" class="CapitanFoto">
            <h3>Samuel</h3>
        </div>
        <div class="Capitan">
            <img src="/img/Equipo/CapitanAlvaro.jpg" alt="Capitan Alvaro" class="CapitanFoto">
            <h3>Alvaro</h3>
        </div>
        <div class="Capitan">
            <img src="/img/Equipo/CapitanBastian.jpg" alt="Capitan Bastian" class="CapitanFoto">
            <h3>Bastian</h3>
        </div>
        <div class="Capitan">
            <img src="/img/Equipo/CapitanAnais.jpg" alt="Capitan Anais" class="CapitanFoto">
            <h3>Anais</h3>
        </div>
    </div>
</div>